* {
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    background-color: #142415;
}

.maze {
    border: 20px #111411 solid;
    background-image: url("/res/maze.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    box-sizing:border-box;
}

.charctr {
    position:absolute;
    top: 32%;
    left: 60%;
    scale: 15%;
    animation: Breathe 4s linear infinite;
}

@keyframes Breathe {
    0%, 100% {
      transform: rotate(-0.5deg);
    }
    50% {
      transform: rotate(0.5deg);
    }
}