* {
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    background-color: #142415;
    overflow: hidden;
}

header#header {
    background: #1e1f26;
    height: 65px;
}
header#header > h1 {
    padding: 0;
    text-align: center;
    color: #fff;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    line-height: 35px;
    font-family: 'IBM Plex Sans', sens-serif;
}

.maze {
    border: 20px #111411 solid;
    background-image: url("/res/maze.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    box-sizing:border-box;
}

.charctr {
    position:absolute;
    top: 42%;
    left: 60%;
    scale: 15%;
    animation: Breathe 4s linear infinite;
}

@keyframes Breathe {
    0%, 100% {
      transform: rotate(-0.5deg);
    }
    50% {
      transform: rotate(0.5deg);
    }
}